# scratch folder
src/old
src/old/sandbox.py

# basex folder
src/WEB-INF

# cache folder
src/__pycache__
src/toolbox/__pycache__
src/test/__pycache__
*.cache

# gitkeep
!__init__.py

# PyCharm
*.idea

# data folder
data

# latex
internship_reports/*.aux
internship_reports/*.glo
internship_reports/*.idx
internship_reports/*.log
internship_reports/*.toc
internship_reports/*.ist
internship_reports/*.acn
internship_reports/*.acr
internship_reports/*.alg
internship_reports/*.bbl
internship_reports/*.blg
internship_reports/*.dvi
internship_reports/*.glg
internship_reports/*.gls
internship_reports/*.ilg
internship_reports/*.ind
internship_reports/*.lof
internship_reports/*.lot
internship_reports/*.maf
internship_reports/*.mtc
internship_reports/*.mtc1
internship_reports/*.out
internship_reports/*.synctex.gz
