python/data
python/old
python/src/test*
python/.idea
python/*.xml
!.gitignore
!README.md
!.git
notebooks
python/.gitkeep
python/src/__pycache__
python/src/WEB-INF
python/src/old
python/src/clean_test.py
python/src/clean_test_json.py
python/src/clean_test_xls.py
python/src/clean_test_xml.py
python/src/clean_test_zip.py
python/src/scratch.py
dev/
