# scratch folder
src/old
src/sandbox.py

# basex folder
src/WEB-INF

# cache folder
src/__pycache__
src/toolbox/__pycache__
src/test/__pycache__
.cache

# gitkeep
!__init__.py

# PyCharm
.idea

# data folder
data
